homework/M5/wf1-manual-trigger-cc.json
{
  "name": "wf1-manual-trigger-сс",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "feature-control",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_ME",
          "name": "headerAuth"
        }
      }
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c1aaaaaa-0000-0000-0000-000000000001",
                    "leftValue": "={{ $json.body.feature_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "missing_feature_id"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c2aaaaaa-0000-0000-0000-000000000002",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "missing_action"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c3aaaaaa-0000-0000-0000-000000000003",
                    "leftValue": "={{ ['check','test','rollback','rollout'].includes($json.body.action) }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "invalid_action"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c4aaaaaa-0000-0000-0000-000000000004",
                    "leftValue": "={{ $json.body.traffic_percentage !== undefined && ($json.body.traffic_percentage < 0 || $json.body.traffic_percentage > 100) }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "invalid_traffic"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Validation error: invalid request\",\n  \"rejected_at\": \"input-validation\"\n}"
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Respond 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 140]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.body) }}",
        "hasOutputParser": true,
        "options": {
          "maxIterations": 5,
          "systemMessage": "=[SYSTEM_PROMPT_PLACEHOLDER]"
        }
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [720, 480]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-5",
          "mode": "list"
        },
        "options": {}
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [560, 700],
      "credentials": {
        "anthropicApi": {
          "id": "REPLACE_ME",
          "name": "anthropicApi"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 5,
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.feature_id }}"
      },
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [700, 700]
    },
    {
      "parameters": {
        "sseEndpoint": "{{YOUR_M3_MCP_SERVER_URL}}/sse",
        "authentication": "bearerAuth",
        "include": "all"
      },
      "id": "77777777-7777-7777-7777-777777777777",
      "name": "MCP Client Tool",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [840, 700],
      "credentials": {
        "httpBearerAuth": {
          "id": "REPLACE_ME",
          "name": "bearerToken"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"success\", \"message\"],\n  \"properties\": {\n    \"success\": {\"type\": \"boolean\"},\n    \"message\": {\"type\": \"string\"},\n    \"current_state\": {\"type\": [\"object\", \"null\"]},\n    \"rejected_at\": {\"type\": [\"string\", \"null\"]}\n  }\n}"
      },
      "id": "88888888-8888-8888-8888-888888888888",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [980, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "responseBody": "={{ JSON.stringify($json.output) }}"
      },
      "id": "99999999-9999-9999-9999-999999999999",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 480]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Respond 400",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 400",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 400",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 400",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "abcdef01-2345-6789-abcd-ef0123456789",
  "meta": {
    "instanceId": "wf1-manual-trigger-cc"
  },
  "pinData": {}
}
